<table class="table">
  <thead>
  <tr>
      <th>Song</th>
      <th>Artist</th>
  </tr>
  </thead>
  <tbody>
      <tr>
          <td>Happy</td>
          <td>Pharrell Williams</td>
      </tr>
      <tr>
          <td>Get Lucky</td>
          <td>Daft Punk</td>
      </tr>
      <tr>
          <td>Don’t Worry, Be Happy</td>
          <td>Bobby McFerrin</td>
      </tr>
  </tbody>
</table>
